
# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /
Options -Indexes
ErrorDocument 404 /404.html
ErrorDocument 403 /404.html

RewriteEngine On    # Turn on the rewriting engine
#remove the need for .php extention
# this is for hiding (.php) from url
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#this is for hiding directory access throug URL
RewriteRule ^(include/|config\.php) - [F,L,NC]
RewriteRule ^(login\.php) - [F,L,NC]
RewriteRule ^(include/) - [F,L,NC]



